body{
    margin: 0px;
    height: 100%;
}
/* header */
.header {
    background-color: #a3f4a3;
    width: 101.5%;
    height: 80px;
    margin-left: -10px;
    display: flex;
    justify-content: space-between;
}

.imgLogo {
    float: left;
    margin-top: 12px;
    margin-left: 10px;
}

.titelH2 {
    float: left;
    margin-left: 50px;
    padding-top: 20px;
}

.rowButton {
    margin-top: 25px;
    margin-right: 25px;
}

button {
    background-color: #fbb4c1;
    border: 1px solid #f996b5;
    width: 85px;
    height: 30px;
}

.buttonLogin {
    margin-right: 10px;
}

/* footer */
.bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  text-align: center;
}
.end {
    width: 100%;
    background-color: #a3f4a3;
}
.end .subfooter{
    height: 25px;
    text-align: center;
}

.end .footer {
    margin-top: 25px;
}

.lorem {
    float: left;
    width: 40%;
    padding-left: 20px;
}

.footerlinks {
    text-align: right;
    width: 80%;
}

.end div p{
    margin: auto;
}

/* login page */
.login { 
    width: 360px; 
    padding: 20px; 
    margin: auto; 
    margin-top: 80px;
    margin-bottom: 80px;
}

.buttonLoginform {
    
}

/* Home page */

.slider{
    width: 100%; 
}
.mySlides{
    width: 100%;
    height: auto;
}
