/* handige informatie 
    color
        - light green: #a3f4a3
        - dark green: #8FEB91
        - light pink: #fbb4c1
        - dark pink: #f996b5
*/

body{
    margin: 0px;
    height: 100%;
    font-family: sans-serif;
}

/* herbruikbare classes */
.bold {
    font-weight: bold;
}

.login { 
    width: 360px; 
    padding: 20px; 
    margin: auto; 
    margin-top: 40px;
    margin-bottom: 80px;
}
/* header */
.header {
    background-color: #a3f4a3;
    width: 101.5%;
    height: 80px;
    margin-left: -10px;
    display: flex;
    justify-content: space-between;
}

.imgLogo {
    float: left;
    margin-top: 12px;
    margin-left: 10px;
}

.titelH2 {
    float: left;
    margin-left: 50px;
    padding-top: 20px;
}

.rowButton {
    margin-top: 25px;
    margin-right: 25px;
}

button {
    background-color: #fbb4c1;
    border: 1px solid #f996b5;
    width: 85px;
    height: 30px;
}

button:hover {
    background-color: #f996b5;
}

.buttonLogin {
    margin-right: 10px;
}

/* footer */
.bottom {
  /* position: absolute;
  bottom: 0;
  left: 0; */
  text-align: center;
}
.end {
    width: 100%;
    background-color: #a3f4a3;
}
.end .subfooter{
    height: 25px;
    text-align: center;
}

.end .footer {
    margin-top: 25px;
}

.lorem {
    float: left;
    width: 40%;
    padding-left: 20px;
}

.footerlinks {
    text-align: right;
    width: 80%;
}

.end div p{
    margin: auto;
}

/* login + registreer page */
.buttonPrimair{
    background-color: #fbb4c1;
    border: 1px solid #f996b5;
    width: 85px;
    height: 30px;
}

.buttonPrimair:hover {
    background-color: #f996b5;
}

.buttonSecondair {
    background-color: #a3f4a3;
    border: 1px solid #8FEB91;
}

.buttonSecondair:hover {
    background-color: #8FEB91;
    border: 1px solid #8FEB91;
}

.linkColorText {
    color: #fbb4c1;
}

.linkColorText:hover {
    color: #a3f4a3;
    text-decoration: none;
}

/* Home page */

.slider{
    width: 100%; 
}
.mySlides{
    width: 100%;
    height: auto;
}

/* Payment page */

.paypalPayMethod {
    display: flex;
}

.paymethodA {
    display: flex;
    align-items: center;
}

.paymethodImg {
    width: 50px;
}

.paymethodP {
    color: black;
}

.checkboxPayment {
    width: 30px;
    height: 30px;
}

.adresGegevens {
    width: 45%;
    padding: 10px;
}

.bezorgDatum {
    width: 45%;
    padding: 10px;
    /* background-color:#197BBD; */
}

.betaalMethodes {
    width: 100%;
    padding: 10px;
    /* background-color:#197BBD; */
}

.formPaymethod {
    width: 250px;
}

.leftSide {
    display: flex;
}


